<div class="container">
    <h1>Unexpected error encountered: </h1>

	<p th:if="${url}">
		<b>Page:</b> <span th:text="${url}">Page URL</span>
	</p>

	<p th:if="${created}" id='created'>
		<b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
	</p>

	<p th:if="${status}">
		<b>Response Status:</b> <span th:text="${status}">status-code</span> <span
			th:if="${error}" th:text="'('+${error}+')'">error ...</span>
	</p>

	<p>Application has encountered an error. Please contact support.</p>

	<div class="card card-login mx-auto mt-5" id="password-container">
		<div class="card-header">Details</div>
		<div class="card-body">
			<div th:utext="'&lt;!--'" th:remove="tag"></div>
			<div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
			<div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
			<ul th:remove="tag">
				<li th:each="ste : ${exception.stackTrace}" th:remove="tag">
					<span th:utext="${ste}" th:remove="tag">${ste}</span>
				</li>
			</ul>
			<div th:utext="'--&gt;'" th:remove="tag"></div>
	  	</div>
	</div>
</div>