<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout"
    th:with="title='Reset Password'">
	
	<th:block layout:fragment="content">
	    <div class="container">
	    		<div class="card card-login mx-auto mt-5">
					<div class="card-header">Reset Password</div>
					<div class="card-body">
						<div class="text-center mt-4 mb-5">
							<h4>Forgot your password?</h4>
							<p>Enter your email address and we will send you instructions
								on how to reset your password.</p>
						</div>
						<form th:action="@{/account/doResetPassword}" method="post" modelAttribute="resetPasswordForm">
							<div class="form-group">
								<input class="form-control" id="email" type="email"
									aria-describedby="emailHelp" placeholder="Enter email address" th:required="required"></input>
							</div>
							<input type="submit" class="btn btn-primary btn-block" value="Reset Password"></input>
						</form>
					</div>
				</div>	
	    </div>
	</th:block>

</html>